@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://imgur.com/oexS6B1.png");
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-image: url("https://imgur.com/oexS6B1.png");
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: #1F180F;
    color: #1F180F;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background: #fffF;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1F180F;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1F180F;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #1F180F;
}

#sidebar ul p {
    color: #1F180F;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1F180F;
    background: #0071BD;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #22AEE1;
    background: #1F180F;
}

a[data-toggle="collapse"] {
    position: relative;
}


/*.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-image: url("https://imgur.com/Qjdwz9F.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h2 {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

hr {
    border: 0;
    clear: both;
    display: block;
    margin: 2.4rem auto;
    text-align: left;
    float: left;
    width: 40%;
}


/* -- Animated hr -- */

.progress {
    background: rgba(1, 15, 30, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
}

.progress:before {
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: progress;
    background: #22AEE1;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
}

@keyframes progress {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1440px);
    }
}